@font-face {
  font-family: 'iconfont'; /* Project id 4690133 */
  src:
    url('iconfont.woff2?t=1726821199411') format('woff2'),
    url('iconfont.woff?t=1726821199411') format('woff'),
    url('iconfont.ttf?t=1726821199411') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_label_mine_plane_theme:before {
  content: '\e603';
}

